<footer>
  <p mt-8 text-xs op-30>
    <span pr-1></span>
    <a
      {/* b-slate-link */}
      style="border-bottom: 1px solid slategray; color: black; font-weight: bold;"
      href="https://docs.google.com/spreadsheets/d/18w7UyozIq1s5qKRAcg0DnMDJyV27WsJVqT49bg4WSLQ/edit?gid=0#gid=0" target="_blank"
    >
      数据征集地址
    </a>
    <span px-1>|</span>
    <a
      {/* b-slate-link */}
      style="border-bottom: 1px solid slategray; color: red;"
      href="https://docs.google.com/spreadsheets/d/1c8Ys3u4_TV_lMQnoa-gp6_fm2ar2W1a8UYT2pn5fSNU/edit?gid=1652096882#gid=1652096882" target="_blank"
    >
      回答错误收集地址
    </a>
    <span px-1> | UI界面原作者:</span>
    <a
      b-slate-link
      href="https://ddiu.io" target="_blank"
    >
      Diu
    </a>
  </p>

</footer>
