<footer>
  <p mt-8 text-xs op-30>
    <a
      {/* b-slate-link */}
      style="border-bottom: 1px solid slategray; color: red;"
      href="https://docs.google.com/spreadsheets/d/1c8Ys3u4_TV_lMQnoa-gp6_fm2ar2W1a8UYT2pn5fSNU/edit?gid=1652096882#gid=1652096882" target="_blank"
    >
      意见反馈
    </a>
    <a
      {/* b-slate-link */}
      id="data-management-link"
      style="border-bottom: 1px solid slategray; color: bule;"
      {/*href="https://rag.addcn.com/static/index.html" target="_blank"*/}
      href="http://192.168.22.33:5000/static/index.html" target="_blank"
    >
      | 数据管理
    </a>
    <span px-1> | 致敬:</span>
    <a
      b-slate-link
      href="https://github.com/anse-app/chatgpt-demo" target="_blank"
    >
      chatgpt-demo
    </a>
  </p>
  <script>
  // 修改数据管理的 url
  function get_url_params(){
    var url = window.location.href
    var url_params = url.split("?")[1]
    var url_params_dict = {}
    if(url_params){
        var url_params_list = url_params.split("&")
        for (var i = 0; i < url_params_list.length; i++) {
            var key_value = url_params_list[i].split("=")
            url_params_dict[key_value[0]] = key_value[1]
        }
    }
    return url_params_dict
}
    document.addEventListener('DOMContentLoaded', () => {
      const params = get_url_params()
      // const params = new URLSearchParams(window.location.search);
      // const token = params.get('token');
      const token = params["token"]
      console.log('token', token)
      if (token) {
        const dataManagementLink = document.getElementById('data-management-link');
        const newUrl = `${dataManagementLink.href}?token=${token}`;
        dataManagementLink.href = newUrl;
        console.log('newUrl', newUrl)
        console.log('dataManagementLink.href', dataManagementLink.href)
      }
    });
  </script>
</footer>
