<footer>
  <p mt-8 text-xs op-30>
    <a
      {/* b-slate-link */}
      style="border-bottom: 1px solid slategray; color: red;"
      href="https://docs.google.com/spreadsheets/d/1c8Ys3u4_TV_lMQnoa-gp6_fm2ar2W1a8UYT2pn5fSNU/edit?gid=1652096882#gid=1652096882" target="_blank"
    >
      回答反馈收集地址
    </a>
    <span px-1> | 致敬UI界面作者:</span>
    <a
      b-slate-link
      href="https://github.com/anse-app/chatgpt-demo" target="_blank"
    >
      anse-app
    </a>
  </p>

</footer>
